---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/index.astro';
---

<Layout title="Joao" header={false}>
	<main>
		<section>
			<div style={{
				display: 'flex',
				justifyContent: 'center'
			}}>
				<iframe 
					frameborder="0" 
					height="300" 
					width="480" 
					src="https://giphy.com/embed/SIJmx1iZOZw8Ye3bHa/video">
				</iframe>
			</div>
			
			<h1 class="title"><br />João Ca<span class="b-yellow">b</span><span class="r-green">r</span>al</h1>
			
			<p>
				Criativo, curioso, inovador, comunicativo e ama um desafio - acredito que essas qualidades 
				me descrevam bem. Natural de Manaus, sou um Desenvolvedor Frontend Web/Mobile. 
				Quando não estou na frente do PC, você pode me encontrar andando de skate, conhecendo um novo 
				restaurante/bar ou em algum evento cultural de alguma cidade do Brasil. 🛫 
			</p>
			<p>
				Adoro idealizar novos aplicativos mobile, não é à toa que minha dedicação é mais voltada para essa área.
				Tenho aplicativos desenvolvidos que estão com seus respectivos clientes, também tenho aplicativo publicado na play store.
				Dependendo do projeto, migro com facilidade entre as tecnologias.
			</p>
		</section>

		<section>
			<p>
			  Me desafiar e enfrentar novos desafios é o que gosto bastante. Abaixo segue alguns dos projetos
			  pessoais e de algumas empresas/freela que já desenvolvi.
			</p>
		
			<ul class='showcase'>
				<li>
					<img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjc4ZDBzYmpjc21odm04ZmtrYXBtdG1nMWF0cGowanhxeTEwMmtpYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LecePnmaLOzToa5MG1/giphy.gif" alt="gif">
					<a
						href={`https://github.com/joao-cabral`}
						title={'project'}
						target='_blank'
						rel='noopener noreferrer'
					>
						<h3>{'Projeto de Sensoriamento'}</h3>
						<p>{'Conexão bluetooth com placas IoT e coleta de dados dos sensores.'}</p>
						<small>
							<>
								Projeto privado, 2021-2022
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</>
						</small>
					</a>
				</li>

				<li>
					<img id="gif" src="https://media4.giphy.com/media/j1RdWetLBJQIdP8TnK/200w.webp" alt="gif">
					<a
						href={`https://github.com/joao-cabral`}
						title={'project'}
						target='_blank'
						rel='noopener noreferrer'>
						<h3>{'Projeto de Rotas'}</h3>
						<p>{'Navegação e visualização de rotas em tempo real no mapa.'}</p>
		
						<small>
							<>
								projeto privado, 2022-2023
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</>
						</small>
					</a>
				</li>
			</ul>
		</section>

		<section>
			<ul class="links-list">
				<li class="curriculum">
					<a href='./curriculum' title='Currículo' target="_blank">
						<Icon name='mdi:account-file-outline' />
						<h3>Currículo</h3>
					</a>
				</li>
				<li class="linkedin">
					<a href='https://www.linkedin.com/in/jo%C3%A3o-cabral-6296a8174/' title='Linkedin' target="_blank">
						<Icon name='mdi:linkedin' />
						<h3>Linkedin</h3>
					</a>
				</li>
				<li class="github">
					<a href='https://github.com/joao-cabral' title='Github' target="_blank">
						<Icon name='mdi:github' />
						<h3>Github</h3>
					</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style lang='scss'>
	body{
		background-color: var(--white-special);
	}
	p{
		color: var(--color-900);
	}
	h1{
	  color: var(--color-900);
	  font-family: 'BrasilComS', sans-serif;
	}
	.title {
	  font-size: min(10rem, 11vw);
	  min-width: 100vw;
	  text-align: center;
	  
	  transform: translateX(-50%);
	  color: black;

	  @media (max-width: 800px) {
		margin: 0 auto;
	  	margin-bottom: 5rem;
	  	margin-left: 50%;
		}


	  @media (min-width: 800px) {
		margin: -100px auto;
		margin-bottom: 5rem;
		margin-left: 50%;
		}

	  .b-yellow {
			color: var(--naples-yellow)
		}
		.r-green {
			color: green
		}
	}
  
	section {
	  margin: 3rem 0;
	  max-width: min(920px, 90vw);
  
	  p {
		margin: 2rem 0;
	  }
	}

	.showcase {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0px;

		@media (max-width: 800px) {
			flex: 50%;
		}

		width: 100%;
		justify-content: center;
		align-items: center;

		li {
			transition: all 150ms ease-in-out;
			margin: 1rem;
			border-radius: 0.5rem;
			border: 1px solid transparent;
			border: 1px solid var(--shade-bg);
			background-color: white;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
        		height: 150px;
			}

			a {
				color: unset;
				padding: 1rem;
				aspect-ratio: 15/10;
				height: 10rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				&:hover {
					text-decoration: none;
				}
			}

		h3 {
			margin: 0;
			text-align: center;
			font-weight: bold;
			font-size: 1.3rem;
			color: var(--earth-yellow);
		}

		p {
			text-align: center;
			margin: 0.8rem 0;
			font-size: 0.8rem;
		}

		small {
			width: 100%;
			text-align: center;
			color: var(--naples-yellow);
			line-height: 0.5rem;
		}
    }
  }

	.links-list {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: 1rem;
	  padding: 0px;
  
	  @media (max-width: 800px) {
		flex: 50%;
	  }
  
	  width: 100%;
	  justify-content: center;
	  align-items: center;
  
	  width: 100%;
	  justify-content: center;
	  align-items: center;

	  a {
		font-family: 'BrasilComS', sans-serif;
	  }
	  
	  .curriculum{
			background-color: var(--celestial-blue);
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: var(--celestial-blue);
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}
		
		.linkedin{
			background-color: var(--hollywood-cerise);
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: var(--hollywood-cerise);
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}

		.github{
			background-color: var(--persian-indigo);
			
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: var(--persian-indigo);
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}
  
	  li {
		border-radius: 0.5rem;
		transition: all 150ms ease-in-out;
		border: 1px solid transparent;
		list-style-type: none;
	  }
	}
</style>