---
// import { Icon } from 'astro-icon/components';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/index.astro';

const librascode = '../../images/librascode.png'
const librascodebanner = '../../images/librascodebanner.png'
---

<Layout title="Joao" header={false}>
	<div class="container">
		<section class="fixed-section">
			<img class="profile-picture" src="https://github.com/joao-cabral.png" alt="Joao Cabral">

			<h1 class="title">João Ca<span class="b-yellow">b</span><span class="r-green">r</span>al</h1>
			<div>
				<p>
					• Frontend Web & Mobile Cross-Platform
				</p>
				<p>
					• Dev com foco em projetos com impacto social. 
				</p>
				<p>
					• Trabalhei em empresas do setor de testes automatizado, agro, IoT e pesquisa.
				</p>
				<p>
					• Arquitetei, construí design, publiquei, dei manutenção e liderei time voltado para desenvolvimento Frontend/Mobile.
				</p>
			</div>

			<ul class="links-list">
        <li class="curriculum">
          <a href='./curriculum-pt' title='Currículo'>
            <Icon name='mdi:account-file-outline' />
          </a>
        </li>
        <li class="linkedin">
          <a href='https://www.linkedin.com/in/jo%C3%A3o-cabral-6296a8174/' title='Linkedin' target="_blank">
            <Icon name='mdi:linkedin' />
          </a>
        </li>
        <li class="github">
          <a href='https://github.com/joao-cabral' title='Github' target="_blank">
            <Icon name='mdi:github' />
          </a>
        </li>
      </ul>
		</section>

		<section class="scroll-section">
			<div class="column-container">
				<p>
					em construção...
				</p>
				<ul class='working-list'>
					<li>
						<a href={`http://localhost:4321/projects/librascode-project`} title={'LibrasCode'} rel='noopener noreferrer'>
							<img class="app-icon" src={librascode} alt="librascode">
						
							<h3>{'LibrasCode'}</h3>
							<p>{'App para acessibilidade e autonomia dos deficientes auditivos em espaços culturais.'}</p>

							<img class="app-banner" src={librascodebanner} alt="librascode">

						</a>
					</li>
				</ul>
			</div>

			<div class="column-container">
				<p>
					Projetos
				</p>
				<ul class='showcase'>
					<li>
						<img src="https://media2.giphy.com/media/LNmzbkBXpDl5yPGtf2/200w.webp" alt="gif">
						<a href={`http://larbac.me/projects/nimrod-project`} title={'Sensoriamento'} rel='noopener noreferrer'>
							<h3>{'Sensoriamento'}</h3>
							<p>{'Configuração de placas IoT para coleta de dados dos sensores.'}</p>
							<small>
								Projeto privado, 2021-2022
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</small>
						</a>
					</li>
					<li>
						<img id="gif" src="https://media4.giphy.com/media/j1RdWetLBJQIdP8TnK/200w.webp" alt="gif">
						<a
							href={`http://larbac.me/projects/routes-project`}
							title={'Rotas'}
							rel='noopener noreferrer'>
							<h3>{'Rotas'}</h3>
							<p>{'Navegação e visualização de rotas em tempo real no mapa.'}</p>
							<small>
								projeto privado, 2022-2023
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</small>
						</a>
					</li>
					<li>
						<img id="gif" src="https://i.giphy.com/ounv1hey86r5DM6WhP.webp" alt="gif">
						<a
							href={`https://github.com/joao-cabral`}
							title={'project'}
							target='_blank'
							rel='noopener noreferrer'>
							<h3>{'Vem aí'}</h3>
							<p>{'Em breve, vem aí'}</p>
							<small>
								2024...
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</small>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
</Layout>

<style lang='scss'>
	body {
		background-color: rgb(37, 44, 56);
	}

	.container {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 1rem;
		margin: 2rem;
	}

	.fixed-section {
		position: fixed;
		width: 40%;
	}

	.scroll-section {
		margin-left: 45%;
		width: 60%;
	}

	.profile-picture {
		max-width: 200px;
		height: auto;
		border-radius: 50%;
		object-fit: cover;
	}

	.title {
		color: white;
		margin: 12px 0px 22px 0px;
		padding: 0px;
		font-size: 2.4rem;
		font-family: 'BrasilComS', sans-serif;

		.b-yellow {
			color: var(--naples-yellow);
		}
		.r-green {
			color: green;
		}
	}

	p {
		font-size: 1.2rem;
		margin: 0px 0px 8px 0px;
	}

	.column-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0px;
	}

	.showcase {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0px;
		width: 100%;

		@media (max-width: 800px) {
			flex: 50%;
		}


		li {
			transition: all 150ms ease-in-out;
			border-radius: 0.5rem;
			border: 1px solid var(--shade-bg);
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
			background-color: rgb(37, 44, 56);
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				height: 150px;
			}

			a {
				color: unset;
				padding: 1rem;
				aspect-ratio: 15/10;
				height: 10rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				&:hover {
					text-decoration: none;
				}
			}

			h3 {
				margin: 0;
				text-align: center;
				font-weight: bold;
				font-size: 1.3rem;
				color: white;
			}

			p {
				color: white;
				text-align: center;
				margin: 0.8rem 0;
				font-size: 0.8rem;
			}

		small {
			width: 100%;
			text-align: center;
			color: var(--naples-yellow);
			line-height: 0.5rem;
		}
    }
  }

	.working-list {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		flex-wrap: wrap;
		width: 100%;

		li {
			transition: all 150ms ease-in-out;
			border-radius: 0.5rem;
			border: 1px solid var(--shade-bg);
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
			background-color: rgb(37, 44, 56);

			width: 45%;

			.app-icon {
				width: 50px;
				height: 50px;
				border-radius: 0.5rem;
				margin-bottom: 0.5rem;
			}

			.app-banner {
				width: 100%;
				height: 150px;
				object-fit: cover;
				border-radius: 0.5rem;
			}

			a {
				display: flex;
				flex-direction: column;
				padding: 1rem;
				gap: 0.5rem;
				align-items: flex-start;
				
				&:hover {
					text-decoration: none;
				}
			}

			h3 {
				margin: 0;
				text-align: center;
				font-weight: bold;
				font-size: 1.3rem;
				color: white;
			}

			p {
				color: white;
				text-align: left;
				margin: 0.8rem 0;
				font-size: 0.8rem;
			}
    }
  }

	.links-list {
	  display: flex;
	  flex-direction: row;
		justify-content: space-between;
	  gap: 1rem;
	  padding: 0px;
		width: 80%;
  
	  @media (max-width: 800px) {
			flex: 50%;
	  }

	  a {
			font-family: 'BrasilComS', sans-serif;
	  }
	  
	  .curriculum{
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: white;
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}
		
		.linkedin{
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: var(--celestial-blue);
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}

		.github{
			&:hover {
				cursor: pointer;
				background-color: transparent;
				border: 1px solid var(--shade-outline);
			}
			
			&:hover {
				svg {
					color: black;
				}
			}


			svg,a {
				transition: color 150ms ease-in-out;
			}
  
			svg {
				width: 5rem;
				height: 5rem;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: -1;
			}
  
			a {
				aspect-ratio: 1;
				width: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
		
				color: var(--colo-50);
				font-size: 1.25rem;
				font-weight: bold;
		
				&:hover {
					text-decoration: none;
					color: transparent;
				}
			}
		}
  
	  li {
		border-radius: 0.5rem;
		transition: all 150ms ease-in-out;
		border: 1px solid transparent;
		list-style-type: none;
	  }
	}

	small {
				width: 100%;
				text-align: center;
				color: var(--naples-yellow);
				line-height: 0.5rem;
			}
</style>