---
import { Icon } from 'astro-icon/components';
// import Card from '../components/Card.astro';
import Layout from '../layouts/index.astro';

// const backgroundColor = "#23262d";
// const borderRadius = "60px"
---

<Layout title="Joao" header={false}>
	<main>
		<section>
			<h1 class="title">🔭<br />João Cabral</h1>
			<p>
				Criativo, curioso, inovador, comunicativo e ama um desafio - acredito que essas qualidades 
				me descrevem bem. Natural de Manaus, sou um Desenvolvedor Frontend Web/Mobile. 
				Quando não estou na frente do PC, você pode me encontrar andando de skate, conhecendo um novo 
				restaurante/bar ou em algum evento cultural de alguma cidade do Brasil. 🛫 
			</p>
			<p>
				Adoro idealizar novos aplicativos mobile, não é à toa que minha dedicação é mais voltada para essa área.
				Já iniciei inúmeros projetos que acabaram não indo pra frente e tenho outros que estão em desenvolvimento 
				ou até mesmo na loja de aplicativos. Dependendo do projeto, migro com facilidade entre as tecnologias, 
				<i><s>mas não me coloque no backend, por favor hahaha.</s></i>
			</p>
		</section>

		<section>
			<p>
			  Me desafiar e enfrentar novos desafios é o que gosto bastante. Abaixo tem alguns dos projetos
			  pessoais e de algumas empresas/freela que já desenvolvi.
			</p>
		
			<ul class='showcase'>
				<li>
					<a
						href={`https://github.com/joao-cabral`}
						title={'project'}
						target='_blank'
						rel='noopener noreferrer'>
						<h3>{'Projeto de Sensoriamento'}</h3>
						<p>{'Conexão bluetooth com placas STM23 e coleta de dados dos sensores.'}</p>
						<small>
							<>
								Projeto privado, 2021-2022
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</>
						</small>
					</a>
				</li>

				<li>
					<a
						href={`https://github.com/joao-cabral`}
						title={'project'}
						target='_blank'
						rel='noopener noreferrer'>
						<h3>{'Projeto de Rotas'}</h3>
						<p>{'Utilizando SDK do MapBox para visualização de rotas em tempo real.'}</p>
		
						<small>
							<>
								projeto privado, 2022-2023
								<span style={{ display: 'inline-block', width: '1rem' }} />
							</>
						</small>
					</a>
				</li>
			</ul>
		</section>

		<section>
			<ul class="links-list">
				<li>
					<a href='./curriculum' title='Currículo' target="_blank">
						<Icon name='mdi:account-file-outline' />
						<h3>Currículo</h3>
					</a>
				</li>
				<li>
					<a href='https://www.linkedin.com/in/jo%C3%A3o-cabral-6296a8174/' title='Linkedin' target="_blank">
						<Icon name='mdi:linkedin' />
						<h3>Linkedin</h3>
					</a>
				</li>
				<li>
					<a href='https://github.com/joao-cabral' title='Github' target="_blank">
						<Icon name='mdi:github' />
						<h3>Github</h3>
					</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style lang='scss'>
	body{
		background-color: rgb(26, 26, 30);
	}
	.title {
	  font-size: min(10rem, 8vw);
	  min-width: 100vw;
	  text-align: center;
	  margin: 0 auto;
	  margin-bottom: 10.5rem;
	  margin-left: 50%;
	  transform: translateX(-50%);
  
	  .name {
		background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
		background-clip: text;
		color: transparent;
	  }
	}
  
	section {
	  margin: 6rem 0;
	  max-width: min(920px, 90vw);
  
	  p {
		margin: 2rem 0;
	  }
	}

	.showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	padding: 0px;

    @media (max-width: 800px) {
      flex: 50%;
    }

    width: 100%;
    justify-content: center;
    align-items: center;

    li {
      transition: all 150ms ease-in-out;
      margin: 1rem;
      border-radius: 0.5rem;
      border: 1px solid transparent;
      border: 1px solid var(--shade-bg);

      &:hover {
        cursor: pointer;
        background-color: var(--shade-bg);
        border: 1px solid var(--shade-outline);

        h3 {
          color: var(--color-primary);
        }
      }

      a {
        color: unset;
        padding: 1rem;
        aspect-ratio: 15/10;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:hover {
          text-decoration: none;
        }
      }

      h3 {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
      }

      p {
        text-align: center;
        margin: 0.8rem 0;
        font-size: 0.8rem;
      }

      small {
        width: 100%;
        text-align: center;
        color: var(--color-100);
        line-height: 0.5rem;
      }
    }
  }

	.links-list {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: 1rem;
	  padding: 0px;
  
	  @media (max-width: 800px) {
		flex: 50%;
	  }
  
	  width: 100%;
	  justify-content: center;
	  align-items: center;
  
	  width: 100%;
	  justify-content: center;
	  align-items: center;
  
	  li {
		border-radius: 0.5rem;
		transition: all 150ms ease-in-out;
		border: 1px solid transparent;
		list-style-type: none;
  
		&:hover {
		  cursor: pointer;
		  background-color: var(--shade-bg);
		  border: 1px solid var(--shade-outline);
		}
  
		&:hover {
		  svg {
			color: var(--color-primary);
		  }
  
		  a {
			color: transparent;
		  }
		}
  
		svg,
		a {
		  transition: color 150ms ease-in-out;
		}
  
		svg {
		  width: 5rem;
		  height: 5rem;
		  position: absolute;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  margin: auto;
		  z-index: -1;
  
		  color: var(--shade-bg);
		}
  
		a {
		  aspect-ratio: 1;
		  width: 8rem;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  position: relative;
  
		  color: unset;
		  font-size: 1.25rem;
		  font-weight: bold;
  
		  &:hover {
			text-decoration: none;
		  }
		}
	  }
	}
</style>