---
import Layout from '../layouts/index.astro';
const { frontmatter } = Astro.props;
---

<h1>{frontmatter.title}</h1>
<Layout title={frontmatter.title} header={false}>
    <main>
        <slot />
    </main>
</Layout>

<style lang='scss'>
	body{
		background-color: var(--white-special);
        color: black;
	}
</style>